<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:socket="http://www.eyugame.com/common/socket"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:resource="http://www.eyugame.com/common/resource"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/data/mongo
		http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
		http://www.eyugame.com/common/socket
		http://www.eyugame.com/common/socket/socket-3.5.xsd
		http://www.eyugame.com/common/resource
		http://www.eyugame.com/common/resource/resource-3.5.xsd">

	<context:annotation-config />

	<context:component-scan base-package="
		com.eyu.common,
		com.eyu.phns.push" />

	<!-- 配置文件载入 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:server.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:push.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- mongo配置 -->
	<mongo:mongo id="mongo" host="${mongo.host}" port="${mongo.port}">
		<mongo:options connections-per-host="${mongo.connectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
			connect-timeout="${mongo.connectTimeout}" max-wait-time="${mongo.maxWaitTime}"
			auto-connect-retry="${mongo.autoConnectRetry}" socket-timeout="${mongo.socketTimeout}" />
	</mongo:mongo>
	<mongo:db-factory id="mongoDbFactory" dbname="${mongo.dbname}"
		mongo-ref="mongo" username="${mongo.username}" password="${mongo.password}" />
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<bean class="org.springframework.context.support.ConversionServiceFactoryBean" />

	<!-- 资源文件配置 -->
	<resource:config id="resource">
		<resource:format location="${resource.path}"  type="xlsx" suffix="xlsx" config="SERVER:0:true" />
		<resource:package name="com.eyu.phns.push.module.**.resource" />
	</resource:config>

</beans>
